
// Variables
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import '~line-awesome/dist/line-awesome/scss/line-awesome.scss';

@import url('https://rsms.me/inter/inter.css');

// tailwindcss
@import 'tailwindcss';

.button-width{
    min-width: 200px;
}

$imgKey: random(5);

$list: pastor_earnest_2, christ_embassy_nungua, pastor_earnest, ce_nungua_church;
$nth: nth($list, $imgKey);

body {
  background-image: "/images/#{$nth}.jpg";
}

.bg-image-slider{
   background-color: rgba(0, 0, 0, 0.267);
   background-image: url(../images/#{$nth}.jpg);
   background-repeat: no-repeat;
   background-blend-mode: overlay;
   background-position: top;
};

.bg-fade-white {
   background-color: #f8f8f8
}

.button-width{
    min-width: 200px;
}

.min-w-100{
    min-width: 200px;
}

.top-5 {
    top: 15px;
}

.top-15 {
   top: 45px;
}

marquee {
   -webkit-animation:  caption 50s linear 0s infinite;
   animation:  caption 50s linear 0s infinite;
   -webkit-transition: background-color 350ms;
   -moz-transition: background-color 350ms;
   transition: background-color 350ms;
   overflow: hidden;
   overflow-x:-webkit-marquee;
   -webkit-marquee-direction: right;
   -webkit-marquee-style: scroll;
   -webkit-marquee-speed: normal;
   -webkit-marquee-increment: small;
   -webkit-marquee-repetition: 5;
   overflow-x: marquee-line;
   /* marquee-direction: forward;
   marquee-style: loop;
   marquee-speed: slow;
   marquee-play-count: 5; */
}

.top-5 {
   top: 10px;
}
.carousel-example .swiper-container .swiper-slide {
   text-align: center;
   font-size: 38px;
   font-weight: 700;
   background-color: #eee;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   min-height: 300px;
}

